<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>CRAN - Package rules</title>
<link rel="stylesheet" type="text/css" href="../../CRAN_web.css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="citation_title" content="Model Wrappers for Rule-Based Models [R package rules version 0.0.3]" />
<meta name="citation_author" content="Max Kuhn" />
<meta name="citation_publication_date" content="2020-10-02" />
<meta name="citation_public_url" content="https://CRAN.R-project.org/package=rules" />
<meta name="DC.identifier" content="https://CRAN.R-project.org/package=rules" />
<meta name="DC.publisher" content="Comprehensive R Archive Network (CRAN)" />
<meta name="og:title" content="rules: Model Wrappers for Rule-Based Models" />
<meta name="og:description" content="Bindings for additional models for use with the 'parsnip' package. Models include prediction rule ensembles (Friedman and Popescu, 2008) &amp;lt;&lt;a href=&quot;https://doi.org/10.1214%2F07-AOAS148&quot;&gt;doi:10.1214/07-AOAS148&lt;/a&gt;&amp;gt;, C5.0 rules (Quinlan, 1992 ISBN: 1558602380), and Cubist (Kuhn and Johnson, 2013) &amp;lt;&lt;a href=&quot;https://doi.org/10.1007%2F978-1-4614-6849-3&quot;&gt;doi:10.1007/978-1-4614-6849-3&lt;/a&gt;&amp;gt;. " />
<meta name="og:image" content="https://CRAN.R-project.org/CRANlogo.png" />
<meta name="og:type" content="website" />
<meta name="og:url" content="https://CRAN.R-project.org/package=rules" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@_R_Foundation" />
<style type="text/css">
  table td { vertical-align: top; }
</style>
</head>
<body>
<h2>rules: Model Wrappers for Rule-Based Models</h2>
<p>Bindings for additional models for use with the 'parsnip' package. 
    Models include prediction rule ensembles (Friedman and Popescu, 2008) 
    &lt;<a href="https://doi.org/10.1214%2F07-AOAS148">doi:10.1214/07-AOAS148</a>&gt;, C5.0 rules (Quinlan, 1992 ISBN: 1558602380), and 
    Cubist (Kuhn and Johnson, 2013) &lt;<a href="https://doi.org/10.1007%2F978-1-4614-6849-3">doi:10.1007/978-1-4614-6849-3</a>&gt;. </p>
<table summary="Package rules summary">
<tr>
<td>Version:</td>
<td>0.0.3</td>
</tr>
<tr>
<td>Depends:</td>
<td><a href="../parsnip/index.html">parsnip</a> (&ge; 0.1.0)</td>
</tr>
<tr>
<td>Imports:</td>
<td><a href="../purrr/index.html">purrr</a>, <a href="../rlang/index.html">rlang</a>, <a href="../tibble/index.html">tibble</a>, <a href="../dials/index.html">dials</a>, <a href="../tidyr/index.html">tidyr</a>, <a href="../dplyr/index.html">dplyr</a></td>
</tr>
<tr>
<td>Suggests:</td>
<td><a href="../testthat/index.html">testthat</a>, <a href="../C50/index.html">C50</a>, <a href="../Cubist/index.html">Cubist</a>, <a href="../xrf/index.html">xrf</a> (&ge; 0.2.0), <a href="../covr/index.html">covr</a>, <a href="../modeldata/index.html">modeldata</a>, <a href="../spelling/index.html">spelling</a></td>
</tr>
<tr>
<td>Published:</td>
<td>2020-10-02</td>
</tr>
<tr>
<td>Author:</td>
<td>Max Kuhn <a href="https://orcid.org/0000-0003-2402-136X"><img alt="ORCID iD" src="/web/orcid.svg" style="width:16px; height:16px; margin-left:4px; margin-right:4px; vertical-align:middle" /></a> [aut,
    cre],
  RStudio [cph]</td>
</tr>
<tr>
<td>Maintainer:</td>
<td>Max Kuhn  &#x3c;&#x6d;&#x61;&#x78;&#x20;&#x61;&#x74;&#x20;&#x72;&#x73;&#x74;&#x75;&#x64;&#x69;&#x6f;&#x2e;&#x63;&#x6f;&#x6d;&#x3e;</td>
</tr>
<tr>
<td>License:</td>
<td><a href="../../licenses/MIT">MIT</a> + file <a href="LICENSE">LICENSE</a></td>
</tr>
<tr>
<td>URL:</td>
<td><a href="https://github.com/tidymodels/rules">https://github.com/tidymodels/rules</a>, <a href="https://rules.tidymodels.org">https://rules.tidymodels.org</a></td>
</tr>
<tr>
<td>NeedsCompilation:</td>
<td>no</td>
</tr>
<tr>
<td>Language:</td>
<td>en-US</td>
</tr>
<tr>
<td>Materials:</td>
<td><a href="readme/README.html">README</a> <a href="news/news.html">NEWS</a> </td>
</tr>
<tr>
<td>CRAN&nbsp;checks:</td>
<td><a href="../../checks/check_results_rules.html">rules results</a></td>
</tr>
</table>
<h4>Downloads:</h4>
<table summary="Package rules downloads">
<tr>
<td> Reference&nbsp;manual: </td>
<td> <a href="rules.pdf"> rules.pdf </a> </td>
</tr>
<tr>
<td> Package&nbsp;source: </td>
<td> <a href="../../../src/contrib/rules_0.0.3.tar.gz"> rules_0.0.3.tar.gz </a> </td>
</tr>
<tr>
<td> Windows&nbsp;binaries: </td>
<td> r-devel: <a href="../../../bin/windows/contrib/4.1/rules_0.0.3.zip">rules_0.0.3.zip</a>, r-release: <a href="../../../bin/windows/contrib/4.0/rules_0.0.3.zip">rules_0.0.3.zip</a>, r-oldrel: <a href="../../../bin/windows/contrib/3.6/rules_0.0.3.zip">rules_0.0.3.zip</a> </td>
</tr>
<tr>
<td> macOS&nbsp;binaries: </td>
<td> r-release: <a href="../../../bin/macosx/contrib/4.0/rules_0.0.3.tgz">rules_0.0.3.tgz</a>, r-oldrel: <a href="../../../bin/macosx/el-capitan/contrib/3.6/rules_0.0.3.tgz">rules_0.0.3.tgz</a> </td>
</tr>
<tr>
<td> Old&nbsp;sources: </td>
<td> <a href="https://CRAN.R-project.org/src/contrib/Archive/rules"> rules archive </a> </td>
</tr>
</table>
<h4>Linking:</h4>
<p>Please use the canonical form
<a href="https://CRAN.R-project.org/package=rules"><samp>https://CRAN.R-project.org/package=rules</samp></a>
to link to this page.</p>
</body>
</html>
